/* EVERY BODY YEAH */
video {
  width: 100%;
  position: relative;
  height: auto;
  margin: auto;
  z-index: 0;
}

.riddelvideo {
  width: 100%;
  position: relative;
  height: auto;
  margin: auto;
  z-index: 0;
  background-color: black;
  opacity: 1;
}

#videosource {
  width: 100%;
  position: relative;
  height: auto;
  margin: auto;
  z-index: 0;
  opacity: 0.4;
}


body {
  background-image: url("images/bg.jpg");
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  height: auto;
  margin: auto;
  background-color: #000;
}



footer {
  height: 80px;
  width: 100%;
  z-index: 100008;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  font-family: roboto;
  font-size: 16px;
  font-weight: light;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  padding-top: 35px;
}

a img {
  padding: 0;
  margin: 0;
  display: block;
}

embed {
  width: 100%;
  height: 700px;
}

.btn {
  border: 2px solid white;
  color: white;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
}


.btn:hover {
  background-color: rgba(255, 255, 255, 0.2);
}


#differenttext {
    font-size: 20px;
}

.ikonsbg {
  width: 100%;
  position: relative;
  height: auto;
  margin: auto;
  opacity: 0.7;
}

.toptext {
  top: -30px;
  position: absolute;
  padding: 400px;
  text-align: center;
  text-decoration: none;
  justify-content: center;
  color: #fff;
  font-family: roboto;
  font-size: 18px;
  z-index: 1;
}

.booksdownload {
  vertical-align: middle;
  align-items: center;
}

.ikonstext {
  top: -160px;
  position: absolute;
  padding: 410px;
  text-align: center;
  text-decoration: none;
  justify-content: center;
  color: #fff;
  font-family: roboto;
  font-size: 18px;
  z-index: 1;
}

.overlay {
  position: absolute;
  align-content: center;
  padding: -300px;
  z-index: 10;
}

#prototype {
  text-align: center;
  text-decoration: none;
  justify-content: center;
  color: white;
  font-family: roboto;
  font-size: 16px;
}

.header {
  padding-top: 170px;
}

/* GALLERY ANIMATIONS */

#imagefilter {
  -webkit-animation: filter-animation 0.3s infinite;
}

@-webkit-keyframes filter-animation {
  0% {
    -webkit-filter: hue-rotate(0deg);
  }

  50% {
    -webkit-filter: hue-rotate(30deg);
  }

  100% {
    -webkit-filter: hue-rotate(0deg);
  }
}

#frequency {
  -webkit-animation: fi 3s infinite;
}

@-webkit-keyframes fi {
  0% {
    -webkit-filter: hue-rotate(0deg);
  }

  50% {
    -webkit-filter: hue-rotate(30deg);
  }

  100% {
    -webkit-filter: hue-rotate(0deg);
  }
}

#grannyfilter {
  -webkit-animation: filter 1s infinite;
}

@-webkit-keyframes filter {
  100% {
    -webkit-filter: hue-rotate(360deg);
  }
}

#futurenotfound{
  -webkit-animation: not 2s infinite;
}

@-webkit-keyframes not {
  0% {
    -webkit-filter: hue-rotate(0deg);
  }

  50% {
    -webkit-filter: hue-rotate(120deg);
  }

  100% {
    -webkit-filter: hue-rotate(0deg);
  }
}


#weaving, #apart, #falling, #belem, #gouge, #someone, #blanket, #illu, #marta, #one, #race, #droplet, #balance, #nothingness, #nowhere, #pig, #french, #falling, #disturb, #piss {
  -webkit-animation: filter1288 2s infinite;
}

@-webkit-keyframes filter1288 {
  0% {
    -webkit-filter: brightness(1) saturate(1);
  }

  50% {
    -webkit-filter: brightness(1.3) saturate(1.2);
  }

  100% {
    -webkit-filter: brightness(1) saturate(1);
  }
}

#kid, #tram, #light, #consume {
  -webkit-animation: filter9 0.8s infinite;
}

@-webkit-keyframes filter9 {
  0% {
    -webkit-filter: hue-rotate(0deg);
  }

  50% {
    -webkit-filter: hue-rotate(-360deg);
  }

  100% {
    -webkit-filter: hue-rotate(0deg);
  }
}

#legs {
  -webkit-animation: filter918 2s infinite;
}

@-webkit-keyframes filter918 {
  0% {
    -webkit-filter: saturate(1);
  }

  50% {
    -webkit-filter: saturate(1.4);
  }

  100% {
    -webkit-filter: saturate(1);
  }
}


#protest, #lunatic, #shopping, #dis, #advert, #darkness, #bullshit, #hope, #floating {
  -webkit-animation: filter541 2s infinite;
}

@-webkit-keyframes filter541 {
  0% {
    -webkit-filter: hue-rotate(0deg);
  }

  50% {
    -webkit-filter: hue-rotate(-360deg);
  }

  100% {
    -webkit-filter: hue-rotate(0deg);
  }
}

#tears, #vendas {
  -webkit-animation: filter913 2s infinite;
}

@-webkit-keyframes filter913 {
  0% {
    -webkit-filter: hue-rotate(0deg);
  }

  50% {
    -webkit-filter: hue-rotate(90deg);
  }

  100% {
    -webkit-filter: hue-rotate(0deg);
  }
}


#futureback {
  -webkit-animation: filter221 2s infinite;
}

@-webkit-keyframes filter221 {
  0% {
    -webkit-filter: hue-rotate(0deg);
  }

  50% {
    -webkit-filter: hue-rotate(-100deg);
  }

  100% {
    -webkit-filter: hue-rotate(0deg);
  }
}

}


/* NAVY YMCA */

.menu-icon {
  opacity: 0;
}

.logo {
  vertical-align: middle;
  cursor: pointer;
}

.logo:hover {
  filter: invert(39%) sepia(17%) saturate(5741%) hue-rotate(219deg) brightness(67%) contrast(247%);
  transition: 4s;
}

.logomobile {
  display: none;
}

.logomobile:hover {
  filter: invert(39%) sepia(17%) saturate(5741%) hue-rotate(219deg) brightness(67%) contrast(247%);
  transition: 4s;
}

.mobilemenu {
  display: none;
}

.mobilemenu.show {
    display: block;
}

nav {
  position: fixed;
  height: 150px;
  width: 100%;
  z-index: 10000;
  background-color: rgba(0, 0, 0, 0.8);
  animation-duration: 1s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    top: -20%;
    width: 100%;
  }

  to {
    top: 0%;
    width: 100%;
  }
}


nav ul {
  list-style: none;
  background-color: rgba(0, 0, 0, 0);
  overflow: hidden;
  color: #fff;
  padding: 0;
  text-align: center;
  margin: 0;
  transition: 1s;
}

nav.black ul {
  background: #000;
}

nav ul li {
  padding-top: 63px;
  display: inline-block;
  padding-left: 80px;
  padding-right: 80px;
}

nav ul li a {
  text-decoration: none;
  transition: all 0.3s ease 0s;
  color: #fff;
  font-family: roboto;
  font-size: 16px;
}

nav ul li a:hover {
  color: #8a00ff;
}

ul.ulmobile {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

ul.ulmobile li {
  padding: 20px;
}

@media(max-width: 960px) {

  nav ul {
    background-color: rgba(0, 0, 0, 0);
  }

  nav.black ul {
    background-color: rgba(0, 0, 0, 0);
  }

  .menu {
    display: none;
  }


  .showing {
    max-height: 20em;
  }

  .mobilemenu {
    display: none;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    padding-top: 38px;
    transition: 0.5s ease-in;
  }

  .logomobile {
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    cursor: pointer;
  }

}



/* Gallery */

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  height: 110%;
  align-items: center;
  justify-content: center;
  max-width: 25%;
  padding: 0 4px;
  background-color: #fff;
}

.column img {
  margin-top: 4px;
  margin-bottom: 4px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}
